/* banner css */
.banner-search {
	text-align: center;
}
.banner-search-title,
.banner-help-title {
	width: 100%;
	height: 22px;
	padding: 15px 0 13px 0;
}
.banner-search-title {
	color: #FECD09;
}
.banner-help-title {
	color: #74beeb;
}
.banner-search-title > span,
.banner-help-title > span {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	padding-left: 23px;
}
.banner-search-title > span {
	background: url(../img/icon-help_order.png) no-repeat 0 3px;
}
.banner-help-title > span {
	background: url(../img/icon-help_order.png) no-repeat 0 -21px;
}
.banner-search > select {
	width: 50%;
	height: 20px;
	display: block;
	margin: 15px auto;
	outline: none;
	border-radius: 5px;
}
.banner-search-submit {
	width: 45%;
	height: 32px;
	display: inline-block;
	background-color: #FECD09;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
.banner-help {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
}
.banner-help a {
	color: #74beeb;
	font-weight: bold;
}
.banner-help a:hover {
	color: #1fa4f0;
}
.banner-help > span {
	flex: 1 0 50%;
}



.banner-slider {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.banner-slider-wrap {
	width: 1000%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s linear;
}
.banner-slider-wrap .img {
	width: 100%;
	height: 100%;
}
.banner-slider-leftArrow,
.banner-slider-rightArrow {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	background-image: url(../img/ui-slider-arrow.png);
	cursor: pointer;
	/* 连续点击div产生了文字选块 */
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.banner-slider-leftArrow {
	left: 0;
	background-position: 0 0;
}
.banner-slider-rightArrow {
	right: 0;
	background-position: 40px 0;
}
.banner-slider-process {
	width: 100%;
	height: 36px;
	position: absolute;
	bottom: 0;
	text-align: center;
}
.banner-slider-process > a {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #b2b2b2;
	margin: 0 5px;
	display: inline-block;
}
.banner-slider-process > a:hover,
.banner-slider-process .focus {
	background-color: #47a7ed;
}